<style>
   @import url(https://fonts.googleapis.com/css?family=Open+Sans);
  nav {
    margin: 0px;
    padding: 0px 0;
  }

  nav ul {
    text-align: center;
    background: linear-gradient(50deg, rgba(255, 255, 255, 0) 0%,
    rgba(162, 185, 61, 0.2) 25%,
    rgba(162, 185, 61, 0.2) 75%,
    rgba(255, 255, 255, 0) 100%);
    box-shadow: 0 0 25px
    rgba(0, 0, 0, 0.1),
    inset 0 0 1px
    rgba(255, 255, 255, 0.6);
  }

  nav ul li {
    display: inline-block;
  }

  nav ul li a {
    padding: 18px;
    font-family: "Open Sans";
    text-transform:uppercase;
    color: rgba(0, 35, 122, 0.5);
    font-size: 18px;
    text-decoration: none;
    display: inline-block;
  }

  nav ul li a:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1),
    inset 0 0 1px rgba(255, 255, 255, 0.6);
    background: rgba(255, 255, 255, 0.1);
    color: rgba(148, 105, 42, 0.7);
  }

  .modal-content{
    color: #808080;
    display: inline-block;
    margin-left: 10%;
    margin-right: 70%;
    text-align: justify;
  }

  .d-block{
    width: 70%;
  }

  #text-modal{
    padding: 2%;
    text-align: justify;
  }

</style>

  <nav>
    <ul>
      <li><a href="#" data-toggle="modal" data-target=".modal-lg">Sobre</a></li>
      <li><a href="#">Abra já a sua conta</a></li>
      <li><a href="#">Quer fazer uma cotação</a></li>
      <li><a href="">Bright Hills Insurance Services</a></li>
      <li><a href="#" data-toggle="modal" data-target="#modal">Faça já uma transferência</a></li>
    </ul>
  </nav>

  <div class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/img/transferencia.jpg" class="d-block">
      </div>
      <div class="carousel-item">
        <img src="assets/img/seguradora2.jpg" class="d-block" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/img/venha.jpg" class="d-block" alt="...">
      </div>
    </div>
  </div>

<div class="modal fade modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div id="text-modal">
          <h1>Sobre</h1>
          <p>Bright Hills Insurance Services é uma agência de seguros líder com sede na Califórnia. Somos uma agência experiente com mais de 50 anos de experiência no setor de seguros. Nossa equipe é composta por profissionais de seguros dedicados que sempre fornecerão o melhor serviço possível. Nosso slogan é 'Estamos aqui para você quando você precisar de nós' e trabalhamos duro para cumprir essa declaração diariamente.</p>
          <p>Cada cliente que vem para a Bright Hills Insurance Services sai satisfeito com o nível de atendimento que oferecemos. providenciar.</p>
          <p>Temos agentes em todos os níveis de experiência e todos trabalham diligentemente para atender às suas necessidades como cliente.</p>
          <p>Quer esteja à procura de um seguro automóvel, residencial ou de vida, temos um plano de seguros que vai de encontro às suas necessidades.</p>
          <p>Também oferecemos planos de seguro contra acidentes, invalidez e saúde para ajudá-lo a gerenciar suas necessidades de seguro.</p>
          <p>Nós também fornecemos muitos tipos diferentes de assistência para as nossas necessidades de seguro automóvel e residencial.</p>
          <p>Nossa equipe tem muitas maneiras diferentes de ajudar nossos clientes, o que os torna muito bem-sucedidos.
          <p>Todo agente da Bright Hills fica atento a novos produtos e serviços que podem ajudá-lo a gerenciar suas necessidades de seguro. Ouvimos as necessidades dos nossos clientes e fornecemos sempre serviços de qualidade.</p>
          <p>Isso inclui planos de seguro de vida, invalidez e saúde, bem como soluções de seguros comerciais.</p>
          <p>Os agentes também cuidam de suas necessidades de envio de reivindicações sempre que você sofrer um acidente de carro ou declarar uma reivindicação de invalidez contra os limites de sua apólice.</p>
          <p>Tudo o que fazemos é feito com um objetivo em mente - fornecer um serviço de qualidade para que você fique satisfeito com a escolha da sua seguradora!</p>
          <p>Nossos clientes anteriores são um dos nossos maiores recursos quando se trata de encontrar novas oportunidades de negócios para nossa equipe . Todos os nossos clientes anteriores falam muito bem de nossa equipe e do serviço que receberam de nós.</p>
          <p>Todos ficaram satisfeitos com a qualidade de nossos produtos e serviços, o que os levou a nos indicar seus amigos e familiares para necessidades de seguros.</p>
          <p>Nossa forte base de clientes nos ajudou a nos tornar uma das principais agências do estado, dando-nos a oportunidade de trabalhar com muitas celebridades famosas! Ter essa oportunidade nos permitiu construir relacionamentos fortes com pessoas que precisam de seguro para seus negócios.</p>
          <p>Isso nos permite fornecer um excelente serviço a celebridades de alto perfil que podem nem saber que precisam de seguro de nós!</p>
          <p>Bright Hills Insurance Services dedica-se a fornecer um serviço excepcional a cada cliente. Somos uma agência experiente com mais de 50 anos de experiência no setor de seguros, o que nos permite atender às suas necessidades, independentemente da sua situação.</p>
          <p>Os agentes da Bright Hills Insurance Services se dedicam a trabalhar duro para que você esteja sempre satisfeito com nosso trabalho. Estamos aqui para você quando você precisar de nós!</p>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="transfer" id="modalLabel">Nova Transferência</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Digite o seu nome:</label>
            <input type="text" class="form-control" id="recipient-name" placeholder="Digite seu nome completo">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Digite o número da sua conta:</label>
            <input type="text" class="form-control" id="account-number" placeholder="Digite sua conta">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Digite o número da conta do destinatário:</label>
            <input type="text" class="form-control" id="account-number-destination" placeholder="Digite o número da conta do destinatário">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Digite o valor da transferência:</label>
            <input type="number" class="form-control" id="value" placeholder="Valor R$">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Data da tansferência:</label>
            <input type="date" class="form-control" id="data_transfer">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Data de agendamento:</label>
            <input type="date" class="form-control" id="appointment_date">
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Send</button>
      </div>
    </div>
  </div>
</div>




<!--<table border="1">-->
<!--  <tr>-->
<!--    <td>Nome</td>-->
<!--    <td>Idade</td>-->
<!--    <td>Profissão</td>-->
<!--  </tr>-->
<!--  <tr *ngFor="let account of accounts">-->
<!--    <td>{{account.name}}</td>-->
<!--  </tr>-->
<!--</table>-->
