<h2>Cadastro de Transferências:</h2>
<hr>
<form>
  <p>Nome: <input type="text" name="name" [(ngModel)]="account.name"></p>
  <p>Conta de Origem: <input type="text" name="ctOrigin" [(ngModel)]="account.ctOrigin"></p>
  <p>Conta de Destino: <input type="text" name="ctDest" [(ngModel)]="account.ctDest"></p>
  <p>Valor da Transferência: <input type="number" name="ctDest" [(ngModel)]="account.value"></p>
  <p>Data da Transferência: <input type="date" name="dtTransfer" [(ngModel)]="account.dtTransfer"></p>
  <p [(ngModel)]="account.dtAgendamento">Data de agendamento: {{data |date: 'dd/MM/yyyy'}}</p>
  <button type="button" (click)="send()">Cadastrar</button>
</form>

<h2>Cadastrados: </h2>
<table >
  <tr>
    <th>Id</th>
    <th>Nome</th>
    <th>Conta de Origem</th>
    <th>Conta de Destino</th>
    <th>Valor da Transferência</th>
    <th>Data de Transferencia</th>
    <th>Data de Agendamento</th>
    <th>Resultádo Final</th>
  </tr>

  <tr *ngFor="let account of transfers ">
    <th>{{account.id}}</th>
    <th>{{account.name}}</th>
    <th>{{account.ctOrigin}}</th>
    <th>{{account.ctDest}}</th>
    <th>{{account.value}}</th>
    <th>{{account.dtTransfer}}</th>
    <th>{{account.dtAgendamento}}</th>
<!--    <th>{{account.valueFinal}}</th>-->
  </tr>
</table>

